@model FleaMarket.Models.Ad
@Scripts.Render("~/scripts/jquery.validate.min.js")
@Styles.Render("~/Content/Site.css")





@{
    ViewBag.Title = "Просмотр объявления";
}
<br> 
<div class="container"> 
    <div class="row">
        <input type="button" value="Назад к объявлениям" onclick="@("window.location.href='" + @Url.Action("Index", "FleaMarket") + "'");" class="btn btn-default" />
        <input type="button" value="Редактировать" onclick="@("window.location.href='" + @Url.Action("EditAds", "FleaMarket", new { AdId = Model.AdId })       + "'");" class="btn btn-default" />
        <input type="button" value="Деактивировать" onclick="@("window.location.href='" + @Url.Action("ChangeAdStat", "FleaMarket", new { AdId = Model.AdId }) + "'");" class="btn btn-default" />
        <input type="button" value="Пожаловаться" onclick="@("window.location.href='" + @Url.Action("SendComplaint", "FleaMarket", new { AdId = Model.AdId }) + "'");" class="btn btn-default" />

    </div>
</div>



<br>
<div class="container table-bordered bg-info">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3> @Html.DisplayFor(model => model.AdHeader) </h3>
            <p><h6><small> просмотров @Html.DisplayFor(model => model.AdCountWatchngAd)</small></h6></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-left">
            <h2> @Html.DisplayFor(model => model.AdCost) руб.</h2>
            <p><h6>@Html.DisplayFor(model => model.AdLocation.AdLocationCountry) @Html.DisplayFor(model => model.AdLocation.AdLocationCity) @Html.DisplayFor(model => model.AdLocation.AdLocationArea) район</h6></p>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <table border="1">
                <tr>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 ">
                                @if (Model.Image1 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor1">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image1) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor1">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image1) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                @if (Model.Image2 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor2">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image2) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor2">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image2) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 ">
                                @if (Model.Image3 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor3">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image3) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor3">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image3) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-2 col-md-2 col-sm-4 ">
                                @if (Model.Image4 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor4">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image4) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor4">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image4) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 ">
                                @if (Model.Image5 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor5">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image5) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor5">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image5) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 ">
                                @if (Model.Image6 != null)
            {
                                    <div class="blokimg">
                                        <div class="overlay" id="contenedor6">
                                            <div class="overlay_container">
                                                <a href="#close">
                                                    @Html.Raw("<img style='width:800px; height:600px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image6) + "\" />")
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#contenedor6">
                                            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image6) + "\" />")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </tr>
            </table>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6  bg-info table-bordered  ">
            @Html.DisplayFor(model => model.AdText)
            <br><br><h5>
                Email: @Html.DisplayFor(model => model.AdUserId) <br>
                Контактный номер: @Html.DisplayFor(model => model.AdPhoneNumber)<br /><br />

            </h5>
        </div>
    </div>
</div>


