@model FleaMarket.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
 

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="col-md-offset-2 col-md-8">

    <div class="panel panel-info ">
        <div class="panel-heading">
            <h3 style="color:white">@ViewBag.Title.</h3>
        </div>
        <div class="panel-body bg-info">  
            <dl class="dl-horizontal">
                <dt>Пароль:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Изменить пароль", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Создать пароль", "SetPassword")
                    }
                    ]
                </dd>
                @if (Request.IsAuthenticated && (User.IsInRole("adminAds") || User.IsInRole("superadminnews") || User.IsInRole("superadminall")))
                {
                    <br />
                    
                    <dt>Раздел: Новости</dt>
                    <dd>  [ @Html.ActionLink("Панель управления", "ListNews", "News")  ]  </dd>
                }
            </dl>
        </div>

    </div>
</div>
